body {
  background-color: #fafafa;
}

.App {
  text-align: left;
}

/* font-family: 'Roboto Slab', serif;
font-family: 'Montserrat', sans-serif; */

/* colors */
.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.blue {
  color: #0290ff;
}

.bluish {
  color: #4c8cc3;
}

.bg-blue {
  background-color: #0290ff;
}

.grey {
  color: #8f8f8f;
}

.d-flex {
  display: flex;
}

.j-spa {
  justify-content: space-around;
}

.j-s-btw {
  justify-content: space-between;
}

li {
  list-style: none;
  width: 30%;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.align-item-center {
  align-items: center;
}

.card {
  margin-bottom: 40px;
}

.card-btn {
  text-transform: capitalize;
}

.info-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px 10px 0 0;
}
