body {
  background-color: #fafafa;
  font-family: 'Roboto Slab', serif;
}

li {
  list-style: none;
  width: 30%;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

/* colors */
.black {
  color: #000;
}

.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.blue {
  color: #0290ff;
}

.bluish {
  color: #4c8cc3;
}

.bg-blue {
  background-color: #0290ff;
}

.grey {
  color: #8f8f8f;
}

/* Classes */
.d-flex {
  display: flex;
}

.j-spa {
  justify-content: space-around;
}

.j-s-btw {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* Element styles */
.page {
  border-bottom: 1px solid #8f8f8f;
}

.isActive {
  font-weight: 600;
}

.card {
  margin-bottom: 40px;
}

.info-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px 10px 0 0;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  text-transform: uppercase;
}

.add {
  font-weight: 600;
}
